```gitignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log
.DS_Store
.env
.venv
.envrc

# Bytecode
*.class
*.jar
*.war

# Reports
*.csv
*.json
*.docx

# IDEs
.vscode/
.idea/
*.swp

# Testing and Coverage
.coverage
.cache/
htmlcov/
dist/
build/

# Notebooks
*.ipynb_checkpoints

# CI
*.coverage
pip-log.txt
